$buttons: 256;
$rows: 16;

$speed: 3s;

$cols: $rows;
$noteSize: 24px;
$spacer: 6px;
$boardWidth: $cols * ($noteSize + $spacer);

$mobileNoteSize: 18px;
$mobileSpacer: 3px;
$mobileBoardWidth: $cols * ($mobileNoteSize + $mobileSpacer);

$_bg: #5ec089 #bdb0a2;
$_default: #adccb2;
$_accent: #dce9de;
$_selected: #FFF;

html {
  min-height: 100%;
  font-family: Poppins, Helvetica, Arial, sans-serif;
  background: nth($_bg, 1);
  background: linear-gradient(to bottom right, nth($_bg, 1), nth($_bg, 2)); 
}
body {
 height: 100%;
 margin: 0;
 font-size: 16px;
} 

body.no-overflow{
 overflow: hidden;	
}

#aligner{
  height: 100%;
  min-height: 99vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#aligner * {
  user-select: none;
}

h1{
  font-weight: 600;
  padding: 0;
  margin: 0;
  color: $_default;
  letter-spacing: 10px;
}
h3{
  @extend h1;
  letter-spacing: 5px;
}

#board {
  margin: 10px 0 0 0;
  position: relative;
  flex: none;
  width: $boardWidth;
  font-size: 0;
  background-color: transparent;
  cursor: crosshair;
  overflow: hidden;
}

.holder {
  display: inline-block;
  height: $noteSize;
  width: $noteSize;
  margin: $spacer / 2;
  border-radius: 2px;
  background-color: $_default;
}

.cell {
  background-color: transparent;
  border-radius: 2px;
  width: 100%;
  height: 100%;
  
  transition: all 0.1s;
}
.cell.active {
  background-color: $_selected;
  box-shadow: 0 0 5px $_selected;
}

.button {
  display: inline-block;
  background-color: $_default;
  width: 50px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
  margin: 10px;
  cursor: crosshair;
  vertical-align: bottom;
  transition: 0.1s all;
  
  svg {
    fill: rgba(255,255,255,0.5);
    width: 20px;
    height: 20px;
    transform: translateY(15px);
  }
  &:hover {
    background-color: $_accent;
  }
  &:active {
    height: 45px;
  }
  &:hover > svg {
    fill: nth($_bg, 2);
  }
}

.small-button {
  @extend .button;

  width: 30px;
  height: 30px;
  margin: 20px 5px;
  
  &-left {
    @extend .small-button;
    margin: 20px 5px 20px 25px;
  }
  &-right {
    @extend .small-button;
    margin: 20px 25px 20px 5px;
  }
  svg {
    transform: translateY(5px);
  }
  &:active {
    height: 25px;
  }
}

.alt {
  margin: 0;
  padding: 0;
  background: transparent;
  
  svg {
    fill: $_accent;
    width: 25px;
    height: 25px;
	 opacity: 0.6;
    transform: translateY(12px);
  }
  &:hover > svg {
	opacity: 1;
  }	
}

#social-container.light, #social-container.light a {
  color: rgba($_accent, 0.8);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
#social-container {
  display: block;
  position: fixed;
  z-index: 9999;
  bottom: 16px;
  right: 16px;
  text-align: right;
  opacity: 0.6;
	bottom: 5px;
	right: 5px;
}
#social-container #social-links a {
	font-size: 2rem;
}

@media (max-width: $boardWidth){
	#social-container #social-links {
		display: none;
	}
	#board {
		width: $mobileBoardWidth;
	}
	.holder {
  		height: $mobileNoteSize;
  		width: $mobileNoteSize;
		margin: $mobileSpacer / 2;
		border-radius: 1;
	}
	.note {
		border-radius: 1;
	}
}

@media (max-height: 700px) {
	#aligner{
	  justify-content: flex-start;
	  padding: 20px;
	}
}