$_bg: #2c8e57 #8b7e70;
$_default: #8dac92;
$_accent: #dce9de;

#Menu {
  background-color:#fff;
  min-height: 100%;
  overflow: hidden;

  a {
    text-decoration: none;
    color: $_accent;
    touch-action: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .card {
    position: relative;
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, nth($_bg, 1), nth($_bg, 2));
    border-radius: 5px;
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.5s, opacity 0.5s;
    will-change: transform;
    border: 10px solid $_accent;
    cursor: pointer;
    overflow: hidden;
    touch-action: none;
    user-select: none;
  }
  
  .card:hover {
    box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
  }
  
  .card > div {
    will-change: transform;
    height: 100%;
    margin: 0vw 0;
  }
  
  .card > div > * {
    height: 100%;
    background-size: cover;
    background-position: center center;
    margin: 0vw 0;
  }

  .automata {
    letter-spacing: 5px;
    font-weight: bold;
    text-align: center;
    font-size: x-large;
  }
}